version = "1.0"

[main]
name = "Tor configuration"
services = ["tor"]

    [main.config]
    name = "Configuration Options"

        [main.config.nickname]
        ask = "Enable cover animation"
        type = "string"
        help = "Add a welcome message to the login screen"
        bind = "/etc/tor/torrc"

        [main.config.contact]
        ask = "Allow music download"
        type = "string"
        help = "Add a welcome message to the login screen"
        bind = "/etc/tor/torrc"
